# Git
.git
.gitignore
.gitattributes

# IDE
.vs/
.vscode/
.idea/

# Build output
**/bin/
**/obj/
**/out/

# Node
**/node_modules/
**/dist/

# Logs
**/logs/
**/*.log

# Environment files
.env

# Docker
docker-compose.yml
Dockerfile.*

# Documentation & misc
*.md
*.sln.DotSettings
swagger.json
